Head{

}

body
{

}

h2 {
  animation: textwelle 2s;
}
@keyframes textwelle {
  0 {
    font-size: 0;
    opacity: 0;
  }
  90% {
    font-size: 250%;
    opacity: 1;
  }
  95% {
    font-size: 210%;
    opacity: 1;
  }
  100% {
    font-size: 200%;
    opacity: 1;
  }
